@charset "utf-8";
/* CSS Document */

body {
	background-color: #036aca;
	font-family: 'Montserrat', sans-serif;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	flex-direction: column;
	text-align: center;
}

main {
	flex-grow: 1;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 2rem;
}

h2 a {
	color: white;
	text-decoration-style: double;
}

footer {
	margin-top: auto;
	height: 60px;
	background-color: white;
	color: #036aca;
	width: 100%;
	font-weight: bold;
	font-size: 1.2rem;
}